{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/bulkDeviceUpdate575179519?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "bulkDeviceUpdate575179519"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022NTUyMDkyNDg=\u0022"
      },
      "ResponseBody": {
        "deviceId": "bulkDeviceUpdate575179519",
        "generationId": "637333925035399061",
        "etag": "NTUyMDkyNDg=",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "1DJjmD1DQRs/l2NRkK9yOxZGW0rIlUsvbae0giA6R7o=",
            "secondaryKey": "aUCsEHrw7Svri5ojE\u002BLl0Zv9WWH3Si1aQUexgZ66vxc="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/bulkDeviceUpdate575179519/modules/bulkModuleUpdate622964292?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "moduleId": "bulkModuleUpdate622964292",
        "deviceId": "bulkDeviceUpdate575179519",
        "authentication": {
          "type": "sas"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "moduleId": "bulkModuleUpdate622964292",
        "managedBy": null,
        "deviceId": "bulkDeviceUpdate575179519",
        "generationId": "637333925035749336",
        "etag": "MjY0Nzg3MjY2",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "1V3eexbHzQJR48rTstH7GtUm/V96KNa5YnqfQQh1/ok=",
            "secondaryKey": "Xv0wLic7ERCkxFY0mp9D3BqC7bXINuGv\u002B5u4amWepdc="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        }
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022bulkDeviceUpdate575179519\u0022,\u0022moduleId\u0022:\u0022bulkModuleUpdate622964292\u0022,\u0022importMode\u0022:\u0022update\u0022,\u0022authentication\u0022:{\u0022type\u0022:\u0022selfSigned\u0022}},{\u0022id\u0022:\u0022bu[...]
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/bulkDeviceUpdate575179519?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "45004009"
  }
}