{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag1533314784?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "UpdateWithETag1533314784"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022NjUzMjM0OTU1\u0022"
      },
      "ResponseBody": {
        "deviceId": "UpdateWithETag1533314784",
        "generationId": "637333925227466249",
        "etag": "NjUzMjM0OTU1",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "tHl5klWQL47Cpm5vZGcje0tfFmMw\u002ByFxebsrqfhrgrg=",
            "secondaryKey": "RMvjtlWS6u\u002B8ofYn4ehU\u002Bu6q8iF/7cDGn0Mi6N44oQc="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag1533314784/modules/UpdateWithETag122992285?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "moduleId": "UpdateWithETag122992285",
        "deviceId": "UpdateWithETag1533314784"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "moduleId": "UpdateWithETag122992285",
        "managedBy": null,
        "deviceId": "UpdateWithETag1533314784",
        "generationId": "637333925233583778",
        "etag": "ODIxODI5OTY3",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "n3/4iZdcrTylONBcL1lj0IpCtvZRcmbob5CnaH/DHyw=",
            "secondaryKey": "PcOUKfvz4JCkGA8ze0AOKJxdGqETSCA1cQ\u002BZgJV9hxo="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        }
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag1533314784/modules/UpdateWithETag122992285?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022ODIxODI5OTY3\u0022"
      },
      "RequestBody": {
        "moduleId": "UpdateWithETag122992285",
        "managedBy": "SomeOtherChangedValue",
        "deviceId": "UpdateWithETag1533314784",
        "generationId": "637333925233583778",
        "etag": "ODIxODI5OTY3",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00.0000000Z",
        "lastActivityTime": "0001-01-01T00:00:00.0000000Z",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "n3/4iZdcrTylONBcL1lj0IpCtvZRcmbob5CnaH/DHyw=",
            "secondaryKey": "PcOUKfvz4JCkGA8ze0AOKJxdGqETSCA1cQ\u002BZgJV9hxo="
          },
          "x509Thumbprint": {},
          "type": "sas"
        }
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "iothub-errorcode": "PreconditionFailed"
      },
      "ResponseBody": {
        "Message": "ErrorCode:PreconditionFailed;PreconditionFailed",
        "ExceptionMessage": "Tracking ID:df3f9595a6004b738924d8ed45ca1bed-G:9-TimeStamp:08/19/2020 00:08:49"
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag1533314784?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "116004528"
  }
}