{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/bulkDevice786274361?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "bulkDevice786274361"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022NTU5MTQ3MDI2\u0022"
      },
      "ResponseBody": {
        "deviceId": "bulkDevice786274361",
        "generationId": "637333925033030294",
        "etag": "NTU5MTQ3MDI2",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "baKHyfhUPpMaOjBxdr129eNefRl\u002BE5HjPDV0B2YUZXU=",
            "secondaryKey": "KGh2sOQbFmui2Qj4dE\u002Befvhdx0jF7VnTx39hnScQ4xk="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022bulkDevice786274361\u0022,\u0022moduleId\u0022:\u0022bulkModule1922402695\u0022,\u0022importMode\u0022:\u0022create\u0022},{\u0022id\u0022:\u0022bulkDevice786274361\u0022,\u0022moduleId\u0022:\u0022bulkModule1268002396\u0022,\u[...]
    {
      "RequestUri": "https://FakeHost.net/devices/bulkDevice786274361?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "504746513"
  }
}