{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag405634285?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "UpdateWithETag405634285"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022NDc4ODgyNjM3\u0022"
      },
      "ResponseBody": {
        "deviceId": "UpdateWithETag405634285",
        "generationId": "637333925303733861",
        "etag": "NDc4ODgyNjM3",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "Bcyw6mJP7DyAQYtzoFmKdZz6RwlJVjWfaWW58n4syW8=",
            "secondaryKey": "nRJL09BJOPaDLuHZij1SEk\u002BN1LGZIpwNvJVcvw4g1Yw="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag405634285/modules/UpdateWithETag1986225016?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "moduleId": "UpdateWithETag1986225016",
        "deviceId": "UpdateWithETag405634285"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "moduleId": "UpdateWithETag1986225016",
        "managedBy": null,
        "deviceId": "UpdateWithETag405634285",
        "generationId": "637333925305283667",
        "etag": "NTAxMTg4OTAx",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "ZCT5w6GsePOtcm2Tcb/T5dkSSm1ZuTZo/1SFjkDT4II=",
            "secondaryKey": "rT/Xalkbg0t88\u002BjVNS8oYiANCufeO2gHq3cbzbhIWOE="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        }
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag405634285/modules/UpdateWithETag1986225016?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022NTAxMTg4OTAx\u0022"
      },
      "RequestBody": {
        "moduleId": "UpdateWithETag1986225016",
        "managedBy": "SomeOtherChangedValue",
        "deviceId": "UpdateWithETag405634285",
        "generationId": "637333925305283667",
        "etag": "NTAxMTg4OTAx",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00.0000000Z",
        "lastActivityTime": "0001-01-01T00:00:00.0000000Z",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "ZCT5w6GsePOtcm2Tcb/T5dkSSm1ZuTZo/1SFjkDT4II=",
            "secondaryKey": "rT/Xalkbg0t88\u002BjVNS8oYiANCufeO2gHq3cbzbhIWOE="
          },
          "x509Thumbprint": {},
          "type": "sas"
        }
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "iothub-errorcode": "PreconditionFailed"
      },
      "ResponseBody": {
        "Message": "ErrorCode:PreconditionFailed;PreconditionFailed",
        "ExceptionMessage": "Tracking ID:f2e56750a3f842dd93978fc9ce3eb1ae-G:10-TimeStamp:08/19/2020 00:08:51"
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag405634285?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "518792752"
  }
}