{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022jobDevice1808659919\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice1056013129\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice334655816\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice188594520\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice1188852856\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "isSuccessful": true,
        "errors": [],
        "warnings": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/create?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "export",
        "outputBlobContainerUri": "https://vinageshtrack2iothub.blob.core.windows.net/jobs500596369?sv=2019-02-02\u0026sr=c\u0026sig=W2X9mqVQpl4q%2B70WGXRrCIXnwpv9Qh25dQJJZNM8U9c%3D\u0026st=2020-08-19T00%3A08%3A58Z\u0026se=2020-08-19T01%3A08%3A58Z\u0026sp=racwdl",
        "excludeKeysInExport": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "0ef802cd-c89b-4122-8bdf-d118da4236f4",
        "startTimeUtc": "2020-08-19T00:09:00.1815806Z",
        "type": "export",
        "status": "enqueued",
        "progress": 0,
        "outputBlobContainerUri": "https://vinageshtrack2iothub.blob.core.windows.net/jobs500596369?sv=2019-02-02\u0026sr=c\u0026sig=W2X9mqVQpl4q%2B70WGXRrCIXnwpv9Qh25dQJJZNM8U9c%3D\u0026st=2020-08-19T00%3A08%3A58Z\u0026se=2020-08-19T01%3A08%3A58Z\u0026sp=racwdl",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/0ef802cd-c89b-4122-8bdf-d118da4236f4?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "0ef802cd-c89b-4122-8bdf-d118da4236f4",
        "startTimeUtc": "2020-08-19T00:09:00.1815806Z",
        "type": "export",
        "status": "enqueued",
        "progress": 0,
        "outputBlobContainerUri": "",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/0ef802cd-c89b-4122-8bdf-d118da4236f4?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "0ef802cd-c89b-4122-8bdf-d118da4236f4",
        "startTimeUtc": "2020-08-19T00:09:00.1815806Z",
        "endTimeUtc": "2020-08-19T00:09:02.0381082Z",
        "type": "export",
        "status": "completed",
        "progress": 100,
        "outputBlobContainerUri": "",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/create?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "import",
        "inputBlobContainerUri": "https://vinageshtrack2iothub.blob.core.windows.net/jobs500596369?sv=2019-02-02\u0026sr=c\u0026sig=W2X9mqVQpl4q%2B70WGXRrCIXnwpv9Qh25dQJJZNM8U9c%3D\u0026st=2020-08-19T00%3A08%3A58Z\u0026se=2020-08-19T01%3A08%3A58Z\u0026sp=racwdl",
        "outputBlobContainerUri": "https://vinageshtrack2iothub.blob.core.windows.net/jobs500596369?sv=2019-02-02\u0026sr=c\u0026sig=W2X9mqVQpl4q%2B70WGXRrCIXnwpv9Qh25dQJJZNM8U9c%3D\u0026st=2020-08-19T00%3A08%3A58Z\u0026se=2020-08-19T01%3A08%3A58Z\u0026sp=racwdl",
        "outputBlobName": "Devices.txt",
        "storageAuthenticationType": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "ff21d956-510e-48b0-8154-ff02ad1fe51a",
        "startTimeUtc": "2020-08-19T00:09:10.4620848Z",
        "type": "import",
        "status": "enqueued",
        "progress": 0,
        "inputBlobContainerUri": "https://vinageshtrack2iothub.blob.core.windows.net/jobs500596369?sv=2019-02-02\u0026sr=c\u0026sig=W2X9mqVQpl4q%2B70WGXRrCIXnwpv9Qh25dQJJZNM8U9c%3D\u0026st=2020-08-19T00%3A08%3A58Z\u0026se=2020-08-19T01%3A08%3A58Z\u0026sp=racwdl",
        "outputBlobContainerUri": "https://vinageshtrack2iothub.blob.core.windows.net/jobs500596369?sv=2019-02-02\u0026sr=c\u0026sig=W2X9mqVQpl4q%2B70WGXRrCIXnwpv9Qh25dQJJZNM8U9c%3D\u0026st=2020-08-19T00%3A08%3A58Z\u0026se=2020-08-19T01%3A08%3A58Z\u0026sp=racwdl",
        "outputBlobName": "Devices.txt",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022jobDevice1808659919\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice1056013129\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice334655816\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice188594520\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice1188852856\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "isSuccessful": true,
        "errors": [],
        "warnings": []
      }
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "1863545485",
    "STORAGE_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=vinageshtrack2iothub;AccountKey=O667D/GPr3Tn8VkiluWvWWET0c/n5fH7zm8WQFcYUxC5bjnsjIRjxVhX28rbvxv2iAvcfC5k5gmXrYWNrvkvkw==;EndpointSuffix=core.windows.net"
  }
}