{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022jobDevice46214004\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice1677703041\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice1020576207\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice104748052\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice541056450\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "isSuccessful": true,
        "errors": [],
        "warnings": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/create?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "export",
        "outputBlobContainerUri": "https://vinageshtrack2iothub.blob.core.windows.net/jobs677019803?sv=2019-02-02\u0026sr=c\u0026sig=5zEyEVJ7GpN1ZQz%2BJusmjiDYNp1SJgh5pwT%2Bhlvp%2BhU%3D\u0026st=2020-08-19T00%3A07%3A45Z\u0026se=2020-08-19T01%3A07%3A45Z\u0026sp=racwdl",
        "excludeKeysInExport": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "a4501fdb-c0ef-4c42-ada5-da636a0d75a6",
        "startTimeUtc": "2020-08-19T00:07:46.9260473Z",
        "type": "export",
        "status": "enqueued",
        "progress": 0,
        "outputBlobContainerUri": "https://vinageshtrack2iothub.blob.core.windows.net/jobs677019803?sv=2019-02-02\u0026sr=c\u0026sig=5zEyEVJ7GpN1ZQz%2BJusmjiDYNp1SJgh5pwT%2Bhlvp%2BhU%3D\u0026st=2020-08-19T00%3A07%3A45Z\u0026se=2020-08-19T01%3A07%3A45Z\u0026sp=racwdl",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/a4501fdb-c0ef-4c42-ada5-da636a0d75a6?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "a4501fdb-c0ef-4c42-ada5-da636a0d75a6",
        "startTimeUtc": "2020-08-19T00:07:46.9260473Z",
        "type": "export",
        "status": "enqueued",
        "progress": 0,
        "outputBlobContainerUri": "",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/a4501fdb-c0ef-4c42-ada5-da636a0d75a6?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "a4501fdb-c0ef-4c42-ada5-da636a0d75a6",
        "startTimeUtc": "2020-08-19T00:07:46.9260473Z",
        "endTimeUtc": "2020-08-19T00:07:48.4855909Z",
        "type": "export",
        "status": "completed",
        "progress": 100,
        "outputBlobContainerUri": "",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/create?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "import",
        "inputBlobContainerUri": "https://vinageshtrack2iothub.blob.core.windows.net/jobs677019803?sv=2019-02-02\u0026sr=c\u0026sig=5zEyEVJ7GpN1ZQz%2BJusmjiDYNp1SJgh5pwT%2Bhlvp%2BhU%3D\u0026st=2020-08-19T00%3A07%3A45Z\u0026se=2020-08-19T01%3A07%3A45Z\u0026sp=racwdl",
        "outputBlobContainerUri": "https://vinageshtrack2iothub.blob.core.windows.net/jobs677019803?sv=2019-02-02\u0026sr=c\u0026sig=5zEyEVJ7GpN1ZQz%2BJusmjiDYNp1SJgh5pwT%2Bhlvp%2BhU%3D\u0026st=2020-08-19T00%3A07%3A45Z\u0026se=2020-08-19T01%3A07%3A45Z\u0026sp=racwdl",
        "outputBlobName": "Devices.txt",
        "storageAuthenticationType": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "835d16c4-317f-469d-956b-d14f64257151",
        "startTimeUtc": "2020-08-19T00:07:57.1192753Z",
        "type": "import",
        "status": "enqueued",
        "progress": 0,
        "inputBlobContainerUri": "https://vinageshtrack2iothub.blob.core.windows.net/jobs677019803?sv=2019-02-02\u0026sr=c\u0026sig=5zEyEVJ7GpN1ZQz%2BJusmjiDYNp1SJgh5pwT%2Bhlvp%2BhU%3D\u0026st=2020-08-19T00%3A07%3A45Z\u0026se=2020-08-19T01%3A07%3A45Z\u0026sp=racwdl",
        "outputBlobContainerUri": "https://vinageshtrack2iothub.blob.core.windows.net/jobs677019803?sv=2019-02-02\u0026sr=c\u0026sig=5zEyEVJ7GpN1ZQz%2BJusmjiDYNp1SJgh5pwT%2Bhlvp%2BhU%3D\u0026st=2020-08-19T00%3A07%3A45Z\u0026se=2020-08-19T01%3A07%3A45Z\u0026sp=racwdl",
        "outputBlobName": "Devices.txt",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022jobDevice46214004\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice1677703041\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice1020576207\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice104748052\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice541056450\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "isSuccessful": true,
        "errors": [],
        "warnings": []
      }
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "548749863",
    "STORAGE_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=vinageshtrack2iothub;AccountKey=O667D/GPr3Tn8VkiluWvWWET0c/n5fH7zm8WQFcYUxC5bjnsjIRjxVhX28rbvxv2iAvcfC5k5gmXrYWNrvkvkw==;EndpointSuffix=core.windows.net"
  }
}