{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag788075770?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "UpdateWithETag788075770"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022NzIyNTk4MjY4\u0022"
      },
      "ResponseBody": {
        "deviceId": "UpdateWithETag788075770",
        "generationId": "637333925060347847",
        "etag": "NzIyNTk4MjY4",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "P0BDHRn6nQ9x809MHmlHLee7jeol2TSEFCWDbnzUsbE=",
            "secondaryKey": "oWz95oxhWPx\u002BwHotunRIuzcbyxgZ/wU2gPb5D1T\u002Bmjg="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag788075770?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022NzIyNTk4MjY4\u0022"
      },
      "RequestBody": {
        "deviceId": "UpdateWithETag788075770",
        "generationId": "637333925060347847",
        "etag": "NzIyNTk4MjY4",
        "connectionState": "Disconnected",
        "status": "enabled",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00.0000000Z",
        "statusUpdatedTime": "0001-01-01T00:00:00.0000000Z",
        "lastActivityTime": "0001-01-01T00:00:00.0000000Z",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "P0BDHRn6nQ9x809MHmlHLee7jeol2TSEFCWDbnzUsbE=",
            "secondaryKey": "oWz95oxhWPx\u002BwHotunRIuzcbyxgZ/wU2gPb5D1T\u002Bmjg="
          },
          "x509Thumbprint": {},
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "iothub-errorcode": "PreconditionFailed"
      },
      "ResponseBody": {
        "Message": "ErrorCode:PreconditionFailed;PreconditionFailed",
        "ExceptionMessage": "Tracking ID:844292da673743c3a00189ffa2fa0310-G:3-TimeStamp:08/19/2020 00:08:26"
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag788075770?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "1815440680"
  }
}