{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag1136204569?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "UpdateWithETag1136204569"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022MTQwMDk2NDkz\u0022"
      },
      "ResponseBody": {
        "deviceId": "UpdateWithETag1136204569",
        "generationId": "637333925059575770",
        "etag": "MTQwMDk2NDkz",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "jHGHgJuM9CPxKgq4841BYH0V2NIIdKs2/P14/3pvxsM=",
            "secondaryKey": "eo\u002Bj84ZD9lthvFc5TpoLnGE9ja6yaSWGkAUmaaOgiMA="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag1136204569?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022MTQwMDk2NDkz\u0022"
      },
      "RequestBody": {
        "deviceId": "UpdateWithETag1136204569",
        "generationId": "637333925059575770",
        "etag": "MTQwMDk2NDkz",
        "connectionState": "Disconnected",
        "status": "enabled",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00.0000000Z",
        "statusUpdatedTime": "0001-01-01T00:00:00.0000000Z",
        "lastActivityTime": "0001-01-01T00:00:00.0000000Z",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "jHGHgJuM9CPxKgq4841BYH0V2NIIdKs2/P14/3pvxsM=",
            "secondaryKey": "eo\u002Bj84ZD9lthvFc5TpoLnGE9ja6yaSWGkAUmaaOgiMA="
          },
          "x509Thumbprint": {},
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "iothub-errorcode": "PreconditionFailed"
      },
      "ResponseBody": {
        "Message": "ErrorCode:PreconditionFailed;PreconditionFailed",
        "ExceptionMessage": "Tracking ID:6b2359ce18244ac19c7ad4474fa09ebd-G:1-TimeStamp:08/19/2020 00:08:26"
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag1136204569?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "2009710719"
  }
}