{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/QueryDevice185406621?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "QueryDevice185406621"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022NzMyNzYxNzQ2\u0022"
      },
      "ResponseBody": {
        "deviceId": "QueryDevice185406621",
        "generationId": "637333925134886353",
        "etag": "NzMyNzYxNzQ2",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "gFF7tufzfIuuYE1\u002BEDwpR3DCBRXrtVe8TuJLaicuBgU=",
            "secondaryKey": "36BqKm9QaBXfxUQbTQWAUQEDFD2furg\u002BzUyyKbjGGpo="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/QueryDevice185406621/modules/QueryModule692787877?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "moduleId": "QueryModule692787877",
        "deviceId": "QueryDevice185406621"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "moduleId": "QueryModule692787877",
        "managedBy": null,
        "deviceId": "QueryDevice185406621",
        "generationId": "637333925135286560",
        "etag": "MjUzODYxOTA1",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "1mxS2sLTShkz\u002BvnftxnpLOMNCE5qKPJQRPLFmod4oKs=",
            "secondaryKey": "eMkgidiDIGi1nqoT64YLzlDwEMo/ipYxK4P74swU/gY="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        }
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/query?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT * FROM devices.modules WHERE moduleId = \u0027QueryModule692787877\u0027"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-item-type": "Twin"
      },
      "ResponseBody": "[]"
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/QueryDevice185406621?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Kg==;",
    "RandomSeed": "977771066"
  }
}